@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:15px;
}
h2.diary_title{
    font-size:80px;
    font-weight: 600;
    font-family: 'Baloo Chettan', cursive;
}
.logo{
    font-family: 'Baloo Chettan', cursive;
    color:#fff;
}


.carousel-item{
    height:650px;
    background: #fff;
}
div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.margin_top_10{margin-top:10px;}

#nav{
    width:100%;
    padding:10px 0px;
    background: #000;
    color:#fff;
}

#diary_wrap{
    position: relative;
    width:100%;
    padding:50px 0px;
}



.prev-icon img{
    position: absolute;
    top:40%;
    left:20px;
}
.next-icon img{
    position: absolute;
    top:40%;
    right:20px;
}



#diary_input{
    width:500px;
    margin:30px auto 0px;
    padding:30px 20px;
    background: #fff;
    border:1px solid #f1f1f1;
}

#diary_input label{
    width:100px;
    height:50px;
    line-height: 50px;
    text-align: center;
    color:#fff;
    background: #31aefd;
}

#diary_input .food_diary input, #diary_input .health_diary input{
    width:349px;
    height:50px;
    line-height: 50px;
    border:1px solid #31aefd;
}

#diary_input .write_diary_wrap{
    margin-top:10px;
}
/*
#diary_input .write_diary_wrap input{
    width:100px;
    height:40px;
    line-height: 40px;
    font-size:14px;
    color:#31aefd;
    background: #fff;
    border:1px solid #31aefd;
}
*/
.form-check-wrap{
    padding-left:0px;
    height:50px;
    line-height: 50px;
}
.form-check{
    float: left;
    width:70px;
    padding:0;
    font-size:26px;
    color:#000;
}
.write_diary_wrap .form-check i{margin-left:8px;}
#diary_input .write_diary_wrap .write_diary_save{
    float: right;
    width:80px;
    height:50px;
    line-height: 50px;
    color:#fff;
    background: #000;
    border:1px solid #000;
}
#diary_input .write_diary_wrap .write_diary_save:hover{
    background: #fff;
    color:#000
}
#diary_input .write_diary{margin-top:10px;}
#diary_input .write_diary textarea{
    width:100%;
    border:1px solid #000;
}

.modal-dialog{
    margin:5rem auto;
}

#diary_history_wrap{
    position: relative;
    padding:50px 0px;
    background: #f1f1f1;
}
.date_btn {
    float: left;
    width:20%;
    padding:10px;
    margin-right:1%;
    font-size:15px;
    box-sizing: border-box;
    background: #fff;
}
.date_btn:last-child{
    margin-right:0;
}
#diary_history_wrap::after{
    clear: both;
    display: block;
    content: "";
}


#workout_input.input-group.mb-3, #food_input.input-group.mb-3 {
    height: 100px;
}
.input-group-text{
    width:100px;
    padding:10px;
    text-align: center;
    background: #fff;
    border-radius: 0;
}
#diary_input .form-control{
    padding:20px 10px;
    background: #fff;
    border-radius: 0;
}


#footer{
    clear: both;
    width:100%;
    padding:20px 0px 0px;
    color:#fff;
    background: #000;
}
#footer .col-sm-2 p{
    font-size:15px;
}
#footer .col-sm-2 p b{
    font-size:17px;
}
#footer .col-sm-2 img{
    width:30px;
    padding:0px 5px;
}