div.main_contain {
    text-align: center;
    height: 600px;
}

h2.main_title {
    margin: 2%;
}


button#diary_button {
    margin: 1rem auto;
    width: 10rem;
    background: white;
    border-color: white;
    color: black;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

button#workout_title {
    width: 100%;
    pointer-events: none;
    background: black;
    border-color: black;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

button#food_title {
    width: 100%;
    pointer-events: none;
    background: black;
    border-color: black;
    height: 50px;
    line-height: 50px;
    padding: 0;
   
}

button#myWorkoutButton {
    width: 525px;
    background: #fff;
    border: 2px solid;
    border-color: black;
    color: black;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 15px;
}

button#myFoodButton {
    width: 525px;
    background: #fff;
    border: 2px solid;
    border-color: black;
    color: black;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 15px;
}


.food_contain {
    width: 555px;
    float: left;
    height: 100%;
    border-radius: .25rem;
    background-image: url("img/background.png");
}

.workout_contain {
    width: 555px;
    float: right;
    height: 100%;
    border-radius: .25rem;
    background-image: url("img/background.png");

}

.food_container {
    padding-left: 0;
}


.workout_container {
    padding-right: 0;
}

div#selectOption {
    margin: 15px;
}

#selectOption button {
    pointer-events: none; 
    background: black;
    border-color: black;
    color: #fff;
}

div#selectOption2 {
    margin: 15px;
}

#selectOption2 button {
    pointer-events: none; 
    background: black;
    border-color: black;
    color: #fff;
}

button#selectFoodOption {
    pointer-events: none; 
    background: black;
    border-color: black;
    color: #fff;
}


#myselectOption button {
    pointer-events: none; 
    background: black;
    border-color: black;
    color: #fff;
}

#myselectOption input { 
    border-color: black;
    height: 100%;
}

div.mb-3 {
    width: 100%;
    height: 50px;
}

select.custom-select {
    height: 100%;
}

div.workout {
    width: 200px;
    height: 100px;
    display: none;
    margin: 0.5rem;
}

.workout img {
    width: 200px;
    height: 100px;
}

#myWorkoutModal {
    width: 800px;
}

.modal-dialog {
    max-width: 800px;
    margin: 0 auto;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -10;
}

h2.main_title {
    z-index: 200;
}